.page {
  display: grid;
  grid-template-columns: 1fr 300px;
  min-height: 100vh;
}

.header {
  grid-column: 1 / 3;
  padding: 16px;
  background-color: steelblue;
  color: white;
}

.content {
  padding: 16px;
}

.sidebar {
  padding: 16px;
  background-color: lightgray;
}



@media (max-width: 768px) {

  body {
    background-color: yellow;
  }

  .page {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 2;
  }

  .content {
    order: 1;
  }
}

