.container {
  display: flex; 
  /* by default above is row change to column as below */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;

  height: 600px;
  padding: 100px;
  background-color: #3d97a4;
}

.item {
  padding: 20px;
  background-color: rgb(22, 255, 131);
  color: white;
  font-weight: bold;
}
