.box {
    width: 200px;
    height: 80px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.visible {
    overflow: visible;
}

.hidden {
    overflow: hidden;
}

.auto {
    overflow: auto;
}

.scroll {
    overflow: scroll;
}

p {
    font-size: 18px;
}